<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>Ranking of 4toScore</title>
</head>

<body>
    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- custom js file link  -->
    <script src="js/script.js"></script>
    <!-- header section starts  -->
    <header>
        <h1 class="heading">Ranking of 4toScore</h1>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a href='/'>Home</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Play
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="unranked">Unranked Match</a>
                        <a href="ranked">Ranked Match</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Learn More
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="howtoplay">How To Play</a>
                        <a href="eloranking">Ranking System</a>
                    </div>
                </div>
                <li><a href='aboutus'>About Us</a></li>
                <li><a href='leaderboard'>Leaderboard</a></li>
                <div class="dropdown">
                    <button class="dropbtn"><%= user.username %>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="profile">Profile</a>
                        <form method="POST" action="/logout">
                            <button type="submit" class="btn btn-primary">Log out</button>
                        </form>
                    </div>
                </div>
            </ul>
        </nav>/
    </header>
    <!-- header section ends-->
    <section class="home">
        <div  class="content2">
            <br><br><br>
            <h1>ELO Ranking System</h1>
            <p>The Ranking system for 4toScore is a system that ranks players in a division based on number of rankpoints they have.
                Below are the divisions for 4toScore
            </p>
            <br>
            <table>
                <tr>
                    <th>Bronze</th>
                    <th>Silver</th>
                    <th>Gold</th>
                    <th>Diamond</th>
                    <th>Platinum</th>
                </tr>
                <tr>
                    <td>0-249</td>
                    <td>250-499</td>
                    <td>500-749</td>
                    <td>750-999</td>
                    <td>1000+</td>
                </tr>
            </table>
            <br>
            <p>Players will be placed in a division based on how well they play. 
                And as shown above each division is separated by a set range of rankpoints.  
            </p>
            <br>
            <p>For every win you are rewarded +20 rankpoints.</p>
            <p>For every loss you lose -20 rankpoints.</p>
            <p>But a streak is kept for every win/loss which means your streak can be negative.</p>
            <p>That streak factors into your mulitplier for every win/loss.</p>
            <p>For example, say you have a streak of 5.</p>
            <p>Then your rankpoints total for your latest match would look like this.</p>
            <p>20 (win) + 20*5*.05 (multiplier) = 25 rankpoints for that match </p>
            <p>And vice versa if you have a negative streak<p>
            <br>
        </div>
    </section>
</body>

</html>
